@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>


<address>
    Castelar, Buenos Aires, Argentina<br />
    Arredondo, 2330 5A<br />
    <abbr title="Telefono" class="glyphicon glyphicon-earphone">:</abbr>
    15-3632-9090
</address>

<address>
    <strong class="glyphicon glyphicon-envelope">:</strong>   <a href="mailto:Support@example.com">Zecventas@gmail.com</a><br />
</address>