@{
    ViewBag.Title = "ZEC International Trade";
}

<div class="jumbotron">
    <h1>Clientes ZEC</h1>
    <p class="lead">Control de clientes</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Clientes", "Index", "Clientes")</h2>
        <p>
            Registrar, modificar y eliminar clientes.
        </p>
    </div>
</div>